<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Diary_pro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Diary_pro.Properties.Settings>
            <setting name="backImageIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Programmer_name" serializeAs="String">
                <value>Lashon Hudson</value>
            </setting>
            <setting name="Product_year" serializeAs="String">
                <value>2023</value>
            </setting>
            <setting name="Site" serializeAs="String">
                <value>HudsonWebDev.com</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>Admin</value>
            </setting>
            <setting name="UserPass" serializeAs="String">
                <value>1111</value>
            </setting>
            <setting name="lastmemo_id" serializeAs="String">
                <value>0</value>
            </setting>
        </Diary_pro.Properties.Settings>
    </userSettings>
</configuration>